# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.hypothesis/
.pytest_cache/
reports/

# Ruff
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env

# mypy
.mypy_cache/

# PyCharm
.idea/
