# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.pytest_cache/
reports/

# Ruff
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/

# mypy
.mypy_cache/


# PyCharm
.idea/
