version: "3.9"

services:
  dev:
    build:
      context: .
      target: dev{% if use_private_package_repository %}
      secrets:
        - poetry-auth
    secrets:
      - poetry-auth{% endif %}{% if use_fastapi %}
    env_file:
      - .env{% endif %}
    volumes:
      - .:/workspaces/{{ package_slug }}/
{% if use_fastapi %}
  app:
    build:
      context: .
      target: app{% if use_private_package_repository %}
      secrets:
        - poetry-auth{% endif %}
    tty: true
    ports:
      - "8000:8000"
    expose:
      - 8000
    env_file:
      - .env
    volumes:
      - .:/workspaces/{{ package_slug }}/
    command: ["dev"]
{% endif %}{% if use_private_package_repository %}
secrets:
  poetry-auth:
    # See README.md to configure auth.toml
    file: "${POETRY_AUTH_TOML_PATH:-~/.config/pypoetry/auth.toml}"
 {% endif %}