services:
  # Container definition for the devcontainer
  devcontainer:
    build:
      context: .
      args:
        PYTHON_VERSION: ${PYTHON_VERSION:-{{ python_version }}}
      target: dev{% if use_private_package_repository %}
      secrets:
        - poetry-auth
    secrets:
      - poetry-auth{% endif %}
    stdin_open: true
    tty: true
    volumes:
      - .:/workspaces/{{ package_slug }}/
{% if use_app %}
  # Container definition for running the production app image
  app:
    build:
      context: .
      target: app{% if use_private_package_repository %}
      secrets:
        - poetry-auth{% endif %}
    tty: true
    ports:
      - "8001:8000"
    volumes:
      - .:/workspaces/{{ package_slug }}/
    command: ["serve", "--dev"]
{% endif %}{% if use_private_package_repository %}
secrets:
  poetry-auth:
    # See README.md to configure auth.toml
    file: "${POETRY_AUTH_TOML_PATH:-~/.config/pypoetry/auth.toml}"
 {% endif %}
networks:
  default:
    name: {{ package_slug }}-network
