version: "3.9"

services:
  # Container definition for the devcontainer
  devcontainer:
    build:
      context: .
      target: dev{% if use_private_package_repository %}
      secrets:
        - poetry-auth
    secrets:
      - poetry-auth{% endif %}
    volumes:
      - .:/workspaces/{{ package_slug }}/

  # Container definition for local development without devcontainer/VSCode
  dev:
    extends: devcontainer
    stdin_open: true
    tty: true
    entrypoint: []{% if use_fastapi %}
    ports:
      - "8000"{% endif %}
{% if use_fastapi %}
  # Container definition for running the FastAPI app in production
  app:
    build:
      context: .
      target: app{% if use_private_package_repository %}
      secrets:
        - poetry-auth{% endif %}
    tty: true
    ports:
      - "8000:8000"
    expose:
      - 8000
    volumes:
      - .:/workspaces/{{ package_slug }}/
    command: ["dev"]
{% endif %}{% if use_private_package_repository %}
secrets:
  poetry-auth:
    # See README.md to configure auth.toml
    file: "${POETRY_AUTH_TOML_PATH:-~/.config/pypoetry/auth.toml}"
 {% endif %}