{
  "name": "{{ package_slug }}",
  "dockerComposeFile": "../docker-compose.yml",
  "service": "devcontainer",
  "runServices": [
    "devcontainer"
  ],
  "shutdownAction": "stopCompose",
  "workspaceMount": "source=${localWorkspaceFolder},target=/workspaces/{{ package_slug }}/,type=bind,consistency=delegated",
  "workspaceFolder": "/workspaces/{{ package_slug }}/",
  "remoteUser": "root",
  "overrideCommand": true,
  "mounts": [
    "type=bind,source=/var/run/docker.sock,target=/var/run/docker.sock,consistency=consistent",
    "type=volume,source=claude-code-config,target=/root/.claude,consistency=cached"
  ],
  "customizations": {
    "vscode": {
      "extensions": [
        "astral-sh.ty",
        "charliermarsh.ruff",{% if use_fastapi %}
        "FastAPILabs.fastapi-vscode",{% endif %}
        "GitHub.copilot-chat",{% if ci =='github' %}
        "GitHub.vscode-github-actions",
        "GitHub.vscode-pull-request-github",{% elif ci == 'gitlab' %}
        "GitLab.gitlab-workflow",{% endif %}
        "ms-azuretools.vscode-docker",
        "ms-python.python",
        "ryanluker.vscode-coverage-gutters",
        "tamasfe.even-better-toml"
      ],
      "settings": {
        "coverage-gutters.coverageFileNames": [
          "reports/coverage.xml"
        ],
        "dev.containers.copyGitConfig": true,
        "editor.codeActionsOnSave": {
          "source.fixAll": "explicit",
          "source.organizeImports": "explicit"
        },
        "editor.formatOnSave": true,
        "editor.rulers": [
          120
        ],
        "editor.tabSize": 4,
        "github.copilot.chat.edits.enabled": true,
        "files.autoSave": "onFocusChange",
        "[python]": {
          "editor.defaultFormatter": "charliermarsh.ruff"
        },
        "[toml]": {
          "editor.formatOnSave": false
        },
        "python.defaultInterpreterPath": "/opt/venv/bin/python",
        "python.terminal.activateEnvironment": false,
        "python.testing.pytestEnabled": true,
        "ruff.importStrategy": "fromEnvironment",
        "ruff.logLevel": "warning",
        "terminal.integrated.defaultProfile.linux": "zsh",
        "terminal.integrated.profiles.linux": {
          "zsh": {
            "path": "/usr/bin/zsh"
          }
        },
        "workbench.editor.wrapTabs": true
      }
    }
  }
}