"""{{ name }}."""

from fastapi import FastAPI


def create_app() -> FastAPI:
    """Create app."""
    app = FastAPI(
        title="{{ name }}",
        description="{{ description }}",
    )

    @app.get("/")
    def index() -> dict[str, str]:
        """Read root."""
        return {"msg": "Hello world"}

    return app
