"""{{ name }}."""

import gradio as gr


def greet(name: str) -> str:
    """Greet someone."""
    return f"Hello {name}!"


demo = gr.Interface(fn=greet, inputs="text", outputs="text")


if __name__ == "__main__":
    demo.launch(server_name="0.0.0.0", server_port=8000)  # noqa: S104
